:root {
  --color-white: #fff;
  --color-dark1: rgb(39, 39, 39);
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-purple: #b040ff;
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-dark1);
}

/* Esconde a scrollbar no Chrome, Edge e Safari */
::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar no Firefox */
html {
  scrollbar-width: none;
}

/* Para navegadores antigos (Internet Explorer) */
body {
  -ms-overflow-style: none;
}

main {
  display: flex;
  align-items: center;
  height: 80vh;
  text-align: center;
}

#page1, #page2, #page3, #page4, #page5 {
  background-color: var(--color-dark2);
}

.interface {
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transform: scale(1.5);
  border-radius: 15px;
}

/* Twitter */
.containerTwo:hover {
  background-color: #000000;
  transform: scale(1.5);
  border-radius: 15px;
}

/* LinkedIn */
.containerThree:hover {
  background-color: #0072b1;
  transform: scale(1.5);
  border-radius: 15px;
}

.containerFour:hover {
  background-color: #333333;
  transform: scale(1.5);
  border-radius: 15px;
}

.socialContainer:active {
  transform: scale(0.9);
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: #000000;
}

.socialContainer:hover .socialSvg path {
  fill: var(--color-white);
}

/* Header e Navegação */
.header {
  background-color: var(--color-dark2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 3.5em;
  box-shadow: 1px 1px 4px var(--color-dark4);
}

.logo {
  width: 45px;
}

nav ul {
  display: flex;
  gap: 3em;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-purple);
  font-weight: bold;
  transition: 1s;
}

nav ul li a:hover {
  color: var(--color-white);
}

.active {
  background: var(--color-dark3);
  padding: 10px;
  border-radius: 10px;
}

/* Mobile */
.btn_icon_header {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -100%;
      background: var(--color-dark5);
      height: 100%;
      width: 35vw;
      padding: 1em;
      z-index: 2;
      transition: margin-left 1s;
  }

  .btn_icon_header {
      display: block;
  }

  nav ul.show {
      margin-left: 0;
  }
}

@keyframes showSidebar {
  from {
      margin-left: -100vw;
  }
  to {
      margin-left: 0;
  }
}
