* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.circle {
  height: 8px;
  width: 8px;
  border-radius: 24px;
  background-color: #BB86FC;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

